<!DOCTYPE html>
<html lang='en'>
  
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Travel Planner App</title>
  </head>

  <body>
    <header>
      <section class="title-container">
        <section class="title">Travel planner</section>
        <section class="countdown"><span id="sleeps"></span><span id="sleeps-text"></span></section>
      </section>
      <button id='remove-trip'>Reset trip data</button>
    </header>

    <section class='destination-box'>
      <section class='destination-select'>
        <label for='destination-selector'>Where would you like to go?</label>
        <section class="input-container">
          <input
          id='destination-selector'
          list='destination-options'
          type="text"
          placeholder="Please start typing...">
          <button id='remove-destination-text'>Clear text</button>
        </section>
        <datalist id='destination-options'></datalist>
      </section>
      <section class='selector-container'>
        <section class='destination-date'>
          <label for='destination-date'>When are you departing?</label>
        </section>
        <section class='destination-duration'>
          <label for='duration-selector'>How long are you staying?</label>
          <select id='duration-selector'>Choose your trip duration</select>
        </section>
      </section>
    </section>
    <button id='destination-submit'>Give me my trip data!</button>
    <section class="photoshow">
      <section id='hero-shot' class='hero-shot'>
        </div>
      </section>
      <section id='photogrid' class='photogrid'></section>
    </section>
    <section class='weather-results'></section>

  </body>

  <footer>
    &copy 2019 Tamas Dinh
  </footer>

  <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js')
        })
      }
    </script>

</html>