<!DOCTYPE html>
<html lang='en'>
  
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Travel Planner App</title>
  </head>

  <body>
    <header>
      [HEADER] Travel app
      <section>Countdown</section>
    </header>

    <section class='trip-container'>
      Destination-hero
      <section class='destination-box'>
        Destination-box
        <section class='destination-date'>
          <section>Choose year</section>
          <section>Choose month</section>
          <section>Choose day</section>
        </section>
        <section class='destination-select'>
          Choose destination
        </section>
        <section class='destination-duration'>
          How long are you staying?
        </section>
      </section>
      <section class='hero-shot'>HeroPhoto</section>
      <section class='photo-grid'>Photogrid</section>
      <section class='weather-results'>Weather information</section>
    </section>

  </body>

  <footer>
    &copy 2019 Tamas Dinh
  </footer>

</html>