<!DOCTYPE html>
<html lang='en'>
  
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Travel Planner App</title>
  </head>

  <body>
    <header>
      [HEADER] Travel app
      <section>Countdown</section>
      <section>
        <button id='remove-trip'>Remove trip data</button>
      </section>
    </header>

    <section class='trip-container'>
      Destination-hero
      <section class='destination-box'>
        Destination-box
        <section class='destination-date'></section>
        <section class='destination-select'>
          <label for='destination-selector'>Where would you like to go?</label>
          <input
            id='destination-selector'
            list='destination-options'
            type="text"
            placeholder="Please start typing...">
          <datalist id='destination-options'></datalist>
          <button id='destination-submit'>Submit</button>
        </section>
        <section class='destination-duration'>
          <label for='duration-selector'>How long are you staying?</label>
          <select id='duration-selector'>Choose your trip duration</select>
        </section>
      </section>
      <section class='hero-shot'>HeroPhoto</section>
      <section class='photo-grid'>Photogrid</section>
      <section class='weather-results'>Weather information</section>
    </section>

  </body>

  <footer>
    &copy 2019 Tamas Dinh
  </footer>

</html>