$std-border: 1px solid darkgrey;

$font-color: #ddd;
$font-family: sans-serif;

$themeColorDark: #111;
$themeColorLight: #ddd;
$themeColorLightOverlay: #dddddd80;
$themeColorAccent1: #2c3c97;
$themeColorAccent2: #854b08;
$themeColorAccent3: #882c08;

/*
body, section, footer {
  border: $std-border;
}
*/

body {
  display: flex;
  flex-direction: column;
  color: $font-color;
  font-family: $font-family;
  font-size: 18px;
  background-color: $themeColorDark;
}

header {
  display: flex;
  flex-direction: row;
  height: 10vh;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;

  & .title {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0.3em;
  } 

  & .countdown {
    font-size: 1em;
  }

  & .title-container {
    display: flex;
    flex-direction: column;
  }

  & button {
    position: absolute;
    right: 20px;
    background-color: #634d04;
  }
}

span {
  font-weight: bold;
  font-size: 1.5em;
  color: $themeColorAccent2;
}

select, input, button {
  font-size: 0.8em;
}

label {
  font-size: 1em;
}

footer {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0;
  padding-left: 10px;
}


/* Trip layout */

.destination-box {
  display: flex;
  min-height: 10vh;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.destination-select {
  justify-content: space-evenly;
  flex-grow: 0.5;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;

  & input {
    margin-right: 5px;
    flex-grow: 0.7;
  }

  & button {
    margin-left: 10px;
    margin-right: 10px;
    background-color: $themeColorAccent3;
  }
}

.destination-date,
.destination-duration,
.destination-select {
  display: flex;
  flex-direction: column;
}

select {
  background-color: #444;
  color: $themeColorLight;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  background-color: #1840ad;
  color: $themeColorLight;
  border-radius: 10px;

}

#destination-submit {
  margin: 20px 20px 20px 20px;
}

.photoshow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hero-shot {
  position: relative;
  text-align: center;
  color: $themeColorLightOverlay;
  font-size: 10em;
  letter-spacing: 0.1em;
  
  #hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    max-width: 100%;
  }
}

.photogrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 8px;

  img {
    padding-right: 8px;
    padding-bottom: 8px;
    max-height: 10vh;
  }

}