@import './base.scss';

header {
  display: flex;
  flex-direction: row;
  height: 10vh;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;

  & .title {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0.3em;
  } 

  & .countdown {
    font-size: 1em;
  }

  & .title-container {
    display: flex;
    flex-direction: column;
  }

  & button {
    position: absolute;
    right: 20px;
    background-color: $themeColorAccent3;

    & :hover {
      background-color: lighten(#882c08, 10%);
    }

  }
}