$font-color: #ddd;
$font-family: sans-serif;

$themeColorDark: #111;
$themeColorLight: #ddd;
$themeColorLightOverlay: #ddddddaf;
$themeColorAccent1: #2c3c97;
$themeColorAccent2: #854b08;
$themeColorAccent3: #882c08;