@import './base.scss';

.weather-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .weather-subcontainer {
    display: flex;
    flex: 15%;
    max-width: 20vw;
    min-width: 20vw;
    flex-direction: column;
    text-align: center;
    background-color: $themeColorLight;
    padding: 0.5em;
    margin: 10px;

    .temperature {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    
    p {
      margin: 0;
    }

    .summary {
      font-style: italic;
      font-size: 0.7em;
      color: $themeColorDark;
      margin-top: 5px;
    }
    
    .temp-low {
      font-size: 0.8em;
      font-weight: bold;
      color: $themeColorAccent3
    }
    
    .temp-high {
      font-size: 0.8em;
      font-weight: bold;
      color: $themeColorAccent1;
    }

    .date {
      font-size: 0.9em;
      color: $themeColorAccent1;
      margin-bottom: 5px;
    }

  }

}

@media only screen and (min-width: 301px) {
  .weather-results {  
    .weather-subcontainer {
      max-width: 14vw;
    }
  }
}